.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.image {
    width: 100%;
    height: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

/* make the images interactive with the resizing of the browser window. */
.img-responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-spacing: 10px;
    border: 1px solid #f3f3f3;
    max-width: 800px;
    border-spacing: 10px;
    height: auto;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
    width: calc(33.33% - 10px);
    min-width: 300px;
}

/* adjustments to make the rows work properly */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* adjustments to make the columns work properly */
.box {
    min-width: 300px;
    flex: 1;
    margin: 10px;
    padding: 0px;
}

.text-box {
    width: 300px;
    height: 100%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #070505;

}

.content {
    display: flex;
    flex-direction: column;
    height: 10px;
}

.content-main {
    flex: 1;
}

/* adjustments to make the floating header work properly */
.float-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float-header ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.float-header li {
    margin-right: 10px;
}

.float-header a {
    color: #fff;
    text-decoration: none;
}

.float-header a:hover {
    color: #ccc;
}

.new-row {
clear: both;
}

/* Responsive layout - makes a one column layout for small screen sizes */
@media (max-width: 600px) {
    .flex-container { flex-direction: column;
    }
    .image {
    width: 100%;
    height: 200px;
    }
    .text-box {
    width: 100%;
    margin-top: 20px;
    }
}

/* Generic adjustments */
header #home{
    padding-top: 10%;
}

body {
    padding-top: 150px;
    height: 100%;
    position: relative;
    background-color: #070505;
}

div {
    margin-bottom: 5px;
}

footer {
    padding-bottom: 50px;
    bottom: 0;
    width: 100%;
}
